<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/economy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">
    <title>선거의 손전등 | 블라인드 공약 </title>
</head>
<body>
<div class="header-container">
    <div id="logo">
        <img src="/src/logo.png" alt="Logo">
    </div>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="/poti">정치티아이</a></li>
            <li><a class="menuLink" href="/pledge">공약 정리</a></li>
            <li><a class="menuLink" href="/party">후보별 공약</a></li>
            <li><a class="menuLink" href="/info">선거정보</a></li>
            <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
            <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
        </ul>
    </nav>
</div>
<div class="new">

    <div class="gradationbackground">
        <div class="gradation">
            <div class=e106_146><span  class="eco_promise">경제 분야 공약</span>
                <div class=e106_123><div  class="eco_img"></div>
                </div>
            </div>
        </div>
        <div class=e106_156>
            <div  class="e106_149"></div>
            <div  class="e106_150"></div>
            <div  class="e106_151"></div>
            <div  class="e106_153"></div>
            <div  class="e106_154"></div>
            <div  class="e106_155"></div>
            <div  class="e106_152"></div>
            <div class=e106_163>
                <div  class="e106_164"></div>
                <div  class="ReverseTriangle"></div>
                <span  class="e106_165">부동산</span>
                <span  class="e106_166">내집마련, 주거안정 실현</span>
            </div>
            <div class=e106_162>
                <div  class="e106_158"></div>
                <div  class="ReverseTriangle"></div>
                <span  class="e106_159">일 반</span>
                <span  class="e106_160">수출 1조, 국민소득 5만, 주가지수 5000 달성</span>
            </div>
        </div>
        <div class=e108_63>
            <span  class="e108_62">분야 필터 선택</span>
            <div class=e108_60>
                <div  class="e108_58"><span  class="e108_59">일 반</span></div>
            </div>
            <div class=e108_76>
                <div  class="e108_77"><span  class="e108_78">전 체</span></div>

            </div>
            <div class=e108_64>
                <div  class="e108_65"><span  class="e108_66">과 학</span></div>

            </div>
            <div class=e108_67>
                <div  class="e108_68"><span  class="e108_69">노 동</span></div>

            </div>
            <div class=e108_70>
                <div  class="e108_71"><span  class="e108_72">부동산</span></div>

            </div>
            <div class=e108_73>
                <div  class="e108_74"><span  class="e108_75">일자리</span></div>

            </div>
        </div>
    </div>
</div>
</body>
</html>