<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">
  <title>선거의 손전등</title>
</head>
<body>
<div class="header-container">
  <div id="logo">
    <img src="src/logo.png" alt="Logo">
  </div>
  <nav id="topMenu">
    <ul>
      <li><a class="menuLink" href="/poti">정치티아이</a></li>
      <li><a class="menuLink" href="/pledge">공약 정리</a></li>
      <li><a class="menuLink" href="/party">후보별 공약</a></li>
      <li><a class="menuLink" href="/info">선거정보</a></li>
      <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
      <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
    </ul>
  </nav>
</div>

<div class="background-wrap">
  <div class="content">
    <span>청년을 위한 정치 가이드라인</span>
    <span>이 웹사이트는 정치를 잘 모르는 사람들을 위하여 공약을 쉽게 설명해줌으로써 후보에 대해 생각해볼 수 있는 길을 마련해주는 선거의 손전등이 되는 것이 목표입니다.</span>
    <img class="Light1" style="width: 141px; height: 131px" src="src/light.png"/>
  </div>
</div>
  
  <div class="container">
      <div class="container-1">
        <div class="fisrt-div">
          <h1>정치티아이</h1>
          <p>나는 진보에 가까울까, 보수에 가까울까?</p>
          <p>간단하게 테스트해보는 정치ti</p>
          <button class="ti_btn">정치티아이 하러가기
            <script>
              document.querySelector('.ti_btn').addEventListener('click', function() {
                window.location.href="https://www.joongang.co.kr/DigitalSpecial/446";
              });
            </script>
          </button>
        </div>
        <div class="second-div">
          <img src="src\ti.png" style="width:400px; height:300px">
        </div>
      </div>
      
      <div class="container-2">
        <div class="fisrt-div">
          <img src="src\gongyak.png" style="width:400px; height:300px">
        </div>
        <div class="second-div">
          <h1>공약 보기</h1>
          <p>공약을 봐도 무슨 소린지 이해를 못하겠는</p>
          <p>당신을 위한 공약 분야별, 후보별로 쉽게 알아보기</p>
        </div>
      </div>

    <div class="container-1">
      <div class="fisrt-div">
        <h1>투표소 찾기</h1>
        <p>내 주변 투표소가 어디에 있을까?</p>
      </div>
      <div class="second-div">
        <img src="src\voteplace.png" style="width:300px; height:380px">
      </div>
    </div>
    
    <div class="container-2">
      <div class="fisrt-div">
        <img src="src\seongeo.png" style="width:382px; height:275px">
      </div>
      <div class="second-div">
        <h1>선거 정보</h1>
        <p>현재 진행하고 있는 선거는 어떤 게 있을까?</p>
      </div>
    </div>

    <div class="container-1">
      <div class="fisrt-div">
        <h1>로드맵</h1>
        <p>정치에 관심이 있지만 어떻게 접근해야할지</p>
        <p>어려워하는 사람들을 위한 정치 기본 지식</p>
      </div>
      <div class="second-div">
        <img src="src\roadmap.png" style="width:350px; height:300px">
      </div>
    </div>

    <div class="footer">
      &copy; 그대들은 어떻게 투표할 것인가 | 이메일: contact@example.com
    </div>
  </div>
</body>
</html>