<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">
    <title>선거의 손전등 | 로드맵</title>
</head>
<body>
<div class="header-container">
    <div id="logo">
        <img src="/src/logo.png" alt="Logo">
    </div>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="/poti">정치티아이</a></li>
            <li><a class="menuLink" href="/pledge">공약 정리</a></li>
            <li><a class="menuLink" href="/party">후보별 공약</a></li>
            <li><a class="menuLink" href="/info">선거정보</a></li>
            <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
            <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
        </ul>
    </nav>
</div>

<div class=e111_158>
    <div id="votingbox">
        <img src="/src/votingbox.png" alt="votingbox">
    </div>
    <span  class="e111_159">선 거 정 보</span>
    <span  class="e111_160">현재 진행중인 선거에 대한 정보와 일정을 한눈에!</span>
</div>
<div class=e114_8>
    <span  class="e111_162">제 20대 대통령선거</span>
    <div  class="e111_164"></div>
</div>
<div  class="e111_155"></div>
<span  class="e111_165">선거일 : 2022년 3월 9일</span>
<div class=e114_7>
    <span  class="e111_166">세부 일정</span>
    <span  class="e111_168">22 / 02 / 13 ~ 14</span>
    <span  class="e111_169">후보자 등록 신청</span>
    <div  class="e111_167"></div>
    <span  class="e111_170">22 / 02 / 23 ~ 28</span>
    <span  class="e111_171">재외투표소 투표</span>
    <span  class="e114_2">사전투표 기간</span>
    <div  class="e111_172"></div>
    <span  class="e111_173">22 / 03 / 24 ~ 25</span>
    <div  class="e111_174"></div>
    <span  class="e114_3">22 / 03 / 09</span>
    <span  class="e114_4">본 투표 기간</span>
    <div  class="e114_5"></div>
    <div  class="e114_6"></div>
</div>
</div>
</body>
</html>