<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/party_1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">
    <title>선거의 손전등</title>

</head>
<body>
<div class="header-container">
    <div id="logo">
        <img src="/src/logo.png" alt="Logo">
    </div>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="/poti">정치티아이</a></li>
            <li><a class="menuLink" href="/pledge">공약 정리</a></li>
            <li><a class="menuLink" href="/party">후보별 공약</a></li>
            <li><a class="menuLink" href="/info">선거정보</a></li>
            <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
            <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
        </ul>
    </nav>
    </div>

    <div class="container">
        <div class="py-5 text-center">
            <h2> | 후보별 공약</h2>
        </div>

        <hr class="my-4">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>분야</th>
                    <th>한줄 공약</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${lists}">
                    <td th:text="${board.usubject}"></td>
                    <td>
                        <a th:text="${board.contents}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>