<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="roadmap_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">    
    <title>선거의 손전등 | 로드맵</title>
</head>
<body>
<script>
    function navigateToPage(pageUrl) {
        location.href = pageUrl;
    }
</script>
<div class="header-container">
    <div id="logo">
        <img src="src/logo.png" alt="Logo">
    </div>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="/poti">정치티아이</a></li>
            <li><a class="menuLink" href="/pledge">공약 정리</a></li>
            <li><a class="menuLink" href="/party">후보별 공약</a></li>
            <li><a class="menuLink" href="/info">선거정보</a></li>
            <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
            <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
        </ul>
    </nav>
</div>

  <div class="content">
    <span>청년을 위한 정치 가이드라인</span>
  </div>

  <div class="box">

      <div class="container-wrapper">
          <div class="container" onclick="navigateToPage('roadmap/roadmap_1')">
              <span id = "num1">1</span>
              <span>  투표날 알아야하는 모든 것</span>
              <img src ="src/e1.png">
            </div>
    <div class="container">
        <span id = "num2">2</span>
        <span>  투표날 해도 되는것,하면 안되는 것</span>
        <img src ="src/e2.png">
    </div>
    <div class="container" onclick="navigateToPage('roadmap/roadmap_2')">
        <span id = "num3">3</span>
        <span>  투표날 투표하는 법</span>
        <img src ="src/e3.png">
    </div>
    <div class="container">
        <span id = "num4">4</span>
        <span>  정당이란 무엇인가?</span>
        <img src ="src/e4.png">
    </div>
    <div class="container">
        <span id = "num5">5</span>
        <span>  정당의 역할</span>
        <img src ="src/e5.png">
    </div>
    <div class="container">
        <span id = "num6">6</span>
        <span>  비례대표제란?</span>
        <img src ="src/e6.png">
    </div>
</div>
</div>
<div class="box">

    <div class="container-wrapper">
        <div class="container">
            <span id = "num7">7</span>
            <span>  정당등록현황</span>
            <img src ="src/e7.png">
        </div>
        <div class="container">
            <span id = "num8">8</span>
            <span>  정당 의석수</span>
            <img src ="src/e8.png">
        </div>
        <div class="container">
            <span id = "num9">9</span>
            <span>  대한민국의 선거들</span>
            <img src ="src/e9.png">
        </div>
        <div class="container">
            <span id = "num10">10</span>
            <span>  선거관리위원회</span>
            <img src ="src/e10.png">
        </div>
    <div class="container">
        <span id = "num11">11</span>
        <span>  개표 진행</span>
        <img src ="src/e11.png">
    </div>
    <div class="container">
        <span id = "num12">12</span>
        <span>  사전투표</span>
        <img src ="src/e12.png">
    </div>
</div>
</div>
  <div class="footer">
      &copy; 그대들은 어떻게 투표할 것인가 | 이메일: contact@example.com
  </div>

</body>