<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/roadmap_1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@400;600;800" rel="stylesheet">    
    <title>선거의 손전등 | 로드맵</title>
</head>
<body>
<div class="header-container">
    <div id="logo">
        <img src="/src/logo.png" alt="Logo">
    </div>
    <nav id="topMenu">
        <ul>
            <li><a class="menuLink" href="/poti">정치티아이</a></li>
            <li><a class="menuLink" href="/pledge">공약 정리</a></li>
            <li><a class="menuLink" href="/party">후보별 공약</a></li>
            <li><a class="menuLink" href="/info">선거정보</a></li>
            <li><a class="menuLink" href="/roadmap">정치 로드맵</a></li>
            <li><a class="menuLink" href="/polls">투표소 찾기</a></li>
        </ul>
    </nav>
</div>

  <div class="content">
    <span>투표날 투표하는 법</span>
    <span>투표장에서 어떤 절차로 투표하는지 알아봐요.</span>
  </div>

  <div class="container">
    <img src="/src/roadmap2.png">
  </div>

  <div class="footer">
      &copy; 그대들은 어떻게 투표할 것인가 | 이메일: contact@example.com
  </div>

</body>