html, body, button {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gowun Batang', serif;
  font-family: 'Noto Sans KR', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 5px;
  position: fixed; /* 고정된 위치로 설정 */
  width: 100%; /* 화면 전체 너비로 설정 */
  top: 0; /* 화면 상단에 고정 */
}

#topMenu {
  height: 50px;
  width: 1000px;
}

#topMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
#logo img{
  width: 170px;
  height: 90px;
  margin-left: 40px;
}

#topMenu ul li {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin: 0 10px;
  flex: 1;
}

#topMenu .menuLink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  display: block;
  padding: 10px;
}

#topMenu .menuLink:hover {
  color: red;
  background-color: #ffffff;
}

.background-wrap {
  background: linear-gradient(180deg, #FAFFC2 0%, rgba(254.58, 255, 249.69, 0) 100%);
  width: 100%; height: 606px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.content {
    margin-top: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .content span {
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    padding: 10px 10px 10px 10px;
  }

  .content span:nth-child(1) {
    font-weight: bold;
    font-size: 23px;
  }
  
  .content span:nth-child(2) {
    padding-inline: 20%;
    font-size: 15px;
  }
  
  .Light1 {
    margin-top:80px;
  }
  
  .ti_btn {
    width: 284px;
    height: 54px;
    background: linear-gradient(90deg, #FEADA6 0%, #F5EFEF 100%);
    border-radius: 13px;
    font-size: 20px; /* 폰트 크기 */
    color: #000000; /* 텍스트 색상 */
    background-color: #007bff; /* 배경 색상 */
    padding: 10px 20px; /* 안쪽 여백 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 모양을 손가락으로 변경 */
  }
  
  .container {
    width: 1300px;
    margin: 120px auto 0;
  }
  
  .container-1 {
    display: flex;
    justify-content: flex-end;
  }
  
  .container-2 {
    display: flex;
    justify-content: flex-start;
  }
  
  .first-div .second-div {
    padding: 20px; /* 내용과 테두리 간의 여백을 조절합니다. */
  }
  
  .second-div {
    margin-left: 50px;
  }
  

.footer {
  width: 100%; /* 전체 화면 너비를 차지합니다. */
  background-color: #F5F7FA; /* 배경색을 지정합니다. */
  color: #000; /* 텍스트 색상을 지정합니다. */
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  margin:0;
  padding: 20px; /* 내용과 테두리 간의 여백을 조절합니다. */
}